
#LogoBckg{
    z-index : 0; position : relative; left:0px; width : 100%; height : 90%; min-width : 320px; min-height : 604px;  /* Header Background */
}

#LogoI{
    position : absolute; left : 1%; top : 10px; width : 25%; height : 100px; min-width : 160px   /*  Hedaer Bmp on left corner */
}

#T1{                                                /*  Text Piccante contener */
    border : 0px solid red;
    position:absolute;
    width : 80%;
    height :80px;
    min-width :330px;
    left : 2%;
    top :100px;
    overflow :hidden;
}

img.Text_Logo_P{
    position : relative; left: 100%; width : 30px; height : 28px ;      /*   P letter style in Piccante word */
}

img.Text_Logo{
    position : relative; left: 100%; width : 12px; height : 20px ;         /*  Other letters in Piccsnte word */
}

#Text_Header{                                                                         /* Text in header on roght corner */
    z-index : 1;
    position : absolute;
    border : 0px solid red;
    left : 15%; top : 150px; width : 45%; height : 20%; min-height : 121px;
    font-family : 'Marck Script';
    font-style : italic;
    font-size : 28px;
    color : rgb(1, 1, 1);
    text-align : center;
    transition-property : color;
    transition-duration : 5000ms;
    display : none;
    letter-spacing : 2px;

}


/*

    ************************ Głowne menu wysuwane Przycisk****************************


*/




div.MainMenuButton{

    position : absolute;                                            
    border : 0px solid rgb(227, 220, 220);
    left : 90%; top: 20px; width : 7%; height : 30px;
    cursor : pointer;
}

span.MainMenuButt1{

    position : absolute;
    background-color : rgb(243, 235, 235);
    left : 0%; top: 0px; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt2{

    position : absolute;
    background-color : rgb(243, 241, 235);
    left : 0%; top: 38%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt3{

    position : absolute;
    background-color : rgb(243, 235, 235);
    left : 0%; top: 76%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}


/*

    ************************ Głowne menu wysuwane Tabela****************************


*/

div.MainMenu{

    position : absolute;
    border : 0px solid red;
    left : 60%; top : 70px; width : 38%; height : 180px; 
    overflow : hidden;
}


table.MainMenuTable{

    position : absolute;
    left : 110%; top : -110%; width : 100%; height : 100%; 
    transition : left 500ms, top 500ms;   
    cursor : pointer; 

}

table.MainMenuTable td{

    border  : 0px;
    color : rgb(243, 235, 235);
    font-family : "Tahoma";
    font-size : 12px;
    text-align : center;

}

/*

    ************************ Top and Under Header****************************


*/

div.Under_Header{
    position : relative;
    border : 0px solid green;
    left :0px; top : 30px; width : 100%; height : 470px;
}


div.Top_Foto{

    position : absolute;
    border : 0px solid red;
    left :0px; top : 220px; width : 100%; height : 250px;

}

img.Enter_Foto{
     
    position : absolute;
    border:  6px solid rgb(228, 222, 222);
    left :5%; top : 10px; width : 40%; height : 120px;
}

img.Foto1{
     
    position : absolute;
    border:  6px solid rgb(228, 222, 222);
    left :35%; top : 120px; width : 40%; height :120px;
}

img.Foto2{
     
    position : absolute;
    border:  6px solid rgb(228, 222, 222);
    left :55%; top : 10px; width : 40%; height :120px;
}



/*

    ************************ Top Time Open Text****************************


*/

div.Top_timeOpen
{
    position : absolute;
    border : 6px solid rgb(228, 222, 222);
    left : 10%; top : 0px; width : 80%; height : 200px;

}

span.Top_timeOpen{
    position : absolute;
    border : 0px solid red;
    left : 30%; top : 0px; width : 70%; height :100%;
    text-align : center;
    font-family: 'Cormorant Upright', sans-serif;
    font-size : 14px;
    color :rgb(216, 199, 199)
}



/*

    ************************ Top Text****************************


*/


div.TopText{
    position : relative;
   /* border-image : url("../Bmp/Body/Frames/frame3.png") 40/10px  repeat;*/
  /*  border-image: linear-gradient(rgb(153, 175, 211), rgb(11, 32, 81)) 5 / 5px; */
    background-origin : data-box;
    background-color : rgb(2, 6, 34);
    border-top-left-radius : 15px;
    border-top-right-radius : 15px;
    left:0%; top : 50px; width : 100%; height :550px;

}

span.Top_Header{
    position : absolute;
    font-family : "BernardoModaContrast";
    border : 0px solid yellow;
    color : rgb(107, 136, 186);
    top : 45px; left :10%; width : 80%;
    font-size : 26px;
    font-weight : bold;
    text-align : center;
}

span.TopTextLine{
    position : absolute;
    background-color : rgb(107, 136, 186);
    left : 45%; top : 90px; width : 10%; height : 4px;
     
}

span.Top_Text{
    position : absolute;
    border : 0px solid green;
    font-family : "QuilonRegular";
    color :rgb(91, 85, 85);
    font-size : 16px;
    top: 105px; left : 10%; width : 80%;
}

/*******************************************/

span.Top_Header1{
    position : absolute;
    font-family : "BernardoModaContrast";
    border : 0px solid yellow;
    color : rgb(107, 136, 186);
    top : 260px; left :10%; width : 80%;
    font-size : 26px;
    font-weight : bold;
    text-align : center;
}

span.TopTextLine1{
    position : absolute;
    background-color : rgb(107, 136, 186);
    left : 45%; top : 305px; width : 10%; height : 4px;
     
}

span.Top_Text1{
    position : absolute;
    border : 0px solid green;
    font-family : "QuilonRegular";
    color :rgb(91, 85, 85);
    font-size : 16px;
    top: 320px; left : 10%; width : 80%;
}


/*

    ************************ Top Location****************************


*/

div.Location{

    position : absolute;
    border : 0px solid red;
    top: 420px; left : 5%; width : 40%; height : 110px;

}

img.Location{
    position : absolute;
    left : 5%; top : 20px; width : 15% ; height :30px; 
}

span.Location
{
    position : absolute;
    border : 0px solid rgb(11, 15, 233);
    padding-top : 20px;
    font-family: 'Courgette', sans-serif;
    color :rgb(107, 136, 186);
    font-size : 15px;
    top: 0px; left : 22%; width : 80%; height : 60px;
    cursor : pointer;
    z-index : 1;
}


/*

    ************************ Top Contact****************************


*/

div.Contact{

    position : absolute;
    border : 0px solid red;
    top: 420px; left : 50%; width : 40%; height : 140px;

}

img.Contact{
    position : absolute;
    left : 5%; top : 20px; width : 15% ; height :30px; 
}

a.Contact
{
    position : absolute;
    border : 0px solid red;
    padding-top : 20px;
    font-family: 'Courgette', sans-serif;
    text-decoration : none;
    color :rgb(107, 136, 186);
    font-size : 15px;
    top: 0px; left : 22%; width : 78%; height : 60px;
    cursor : pointer;
    z-index : 1;
}

/*

    ************************ Drugi tekst i tło ****************************


*/


div.BodyText2{

    position : relative;
    border : 0px solid green;
    left : 0px; top : 50px; width : 100%; height : 650px;
    border-top :2px solid rgb(241, 240, 238);
    border-bottom :4px solid rgb(255, 132, 0);
    background-color : rgb(0, 0, 0);

}

span.HeadText2
{
    position : absolute;
    left : 0px; top : 50px; width : 100%; height : 70px;
    color : rgb(250, 117, 1);
    text-align : center;
    font-family : 'Marck Script';
    font-size : 38px;

}

span.TextLine2_1
{
    position : absolute;
    left : 16%; top : 155px; width : 70%; height : 10px;
    border-radius : 3px;
    background-color : rgb(250, 117, 1);
}

span.Text2
{
    position : absolute;
    border : 0px solid red;
    left : 20% ; top : 180px; width : 60%; height : 370px;
    color : rgb(234, 227, 221);
    font-family: 'Cormorant Upright', sans-serif;
    font-size : 18px;

}

span.TextLine2_2
{
    position : absolute;
    left : 16%; top : 465px; width : 70%; height : 10px;
    border-radius : 3px;
    background-color : rgb(250, 117, 1);
}

span.Diner_Link{

    position : absolute;
    left : 22%; top : 520px; width : 55%; height : 45px;
    padding-top : 10px;
    border-radius : 7px;
    border : 3px solid rgb(250, 1, 42);
 /*   background-color : rgb(250, 1, 42); */
    font-family : "Tahoma";
    font-size : 20px;
    color : rgb(230, 134, 18);
    text-align : center;
    cursor : pointer;

    transition : border 200ms, color 1000ms;
}

/*rgb

    ************************ Ostatni tekst ****************************


*/


div.TextLine3{
    position : relative;
    border : 0px solid red;
    left : 0px; top : 60px; width : 100%; height : 450px;
}

span.HeadText3{

    position : absolute;
    left : 0px; top : 10px; width:100%; height : 70px;
    text-align : center;
    font-family: 'Paprika', sans-serif;
    font-size : 38px;
    color : rgb(255, 107, 1)

}

span.TextLine3{

    position : absolute;
    left : 25%; top : 150px; width : 60%; height : 70px;
    text-align : left;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size : 18px;
    color : rgb(29, 6, 6)

}

span.Prom_Link{

    position : absolute;
    left : 22%; top : 320px; width : 55%; height : 45px;
    padding-top : 10px;
    border-radius : 7px;
    border : 3px solid rgb(250, 1, 42);
 /*   background-color : rgb(250, 1, 42); */
    font-family : "Tahoma";
    font-size : 20px;
    color : rgb(230, 134, 18);
    text-align : center;
    cursor : pointer;

    transition : border 200ms, color 100ms;
}


/*

    ************************ Footer ****************************


*/

footer.footer{

    position : relative;
    left : 0px; top : 60px; width : 100%; height : 250px;
    border-top :4px solid rgb(255, 132, 0);
    background-color : rgb(0, 0, 0);

}


footer.footer img{

    position : absolute;
    top:25px; left : 3%; width : 20%; height : 80px;
}

#Address{
    position : absolute;
    left : 32%; top: 30px; width : 50px; height : 50px;
}

span.Adres_H{
    position : absolute;
    border : 0px solid green; 
    left : 25%; top : 100px; width : 35%; height : 50px;
    font-family: 'Peralta', sans-serif;
    font-size : 14px;
    color : rgb(230, 134, 18);

}


span.Adres{
    position : absolute;
    border : 0px solid red; 
    left : 25%; top :120px; width : 35%; height : 100px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(203, 192, 177);
    
}

a.LinkGoogle{

    position : absolute;
    border : 0px solid red;
    left : 25%; top :200px; width : 43%; height : 50px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(210, 183, 146);
    text-decoration : none;
    transition : color 1500ms;
}


#Tel{
    position : absolute;
    left : 72%; top: 30px; width : 50px; height : 50px;
}

span.Tel_H{
    position : absolute;
    border : 0px solid yellow; 
    left : 65%; top : 100px; width : 35%; height : 50px;
    font-family: 'Peralta', sans-serif;
    font-size : 14px;
    color : rgb(230, 134, 18);

}

a.Tel{

    position : absolute;
    border : 0px solid red; 
    left : 65%; top :130px; width : 35%; height : 30px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(203, 192, 177);
    text-decoration : none;
    transition : color 1500ms;
}

a.Kom{

    position : absolute;
    left : 65%; top :160px; width : 35%; height : 30px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(203, 192, 177);
    text-decoration : none;
    transition : color 1500ms;
}
