div.Logo{
    border : 0px solid yellow;
    z-index : 1; position : absolute; left : 0px; top : 0px; width :100%; height : 90%;
}

#LogoBckg{
    position : relative;
    left : 0px; top : 0px; width : 100%; height : 100%;
}

#LogoI{
    position : absolute;
    left : 2%; top : 10px; width : 22%; height : 90px;
    z-index : 1;
}

#Text_Header{                                                                         /* Text in header on roght corner */
    z-index : 0;
    position : absolute;
    border : 0px solid red;
    left : 0px; top : 90px; width : 100%;
    font-family: 'Berkshire Swash', sans-serif;
    font-style : italic;
    font-size : 32px;
    color : rgb(1, 1, 1);
    text-align : center;
    transition-property : color;
    transition-duration : 5000ms;
    display : none;
    letter-spacing : 2px;

}



/*

    ************************ Głowne menu wysuwane Przycisk****************************


*/




div.MainMenuButton{

    position : absolute;                                            
    border : 0px solid rgb(227, 220, 220);
    left : 88%; top: 20px; width : 7%; height : 30px;
    cursor : pointer;
}

span.MainMenuButt1{

    position : absolute;
    background-color : rgb(243, 235, 235);
    left : 0%; top: 0px; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt2{

    position : absolute;
    background-color : rgb(243, 241, 235);
    left : 0%; top: 38%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt3{

    position : absolute;
    background-color : rgb(243, 235, 235);
    left : 0%; top: 76%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}


/*

    ************************ Głowne menu wysuwane Tabela****************************


*/

div.MainMenu{

    position : absolute;
    border : 0px solid red;
    left : 60%; top : 70px; width : 38%; height : 180px; 
    overflow : hidden;
    z-index : 2;
}


table.MainMenuTable{

    position : absolute;
    background-color : rgb(13, 13, 13); 
    left : 110%; top : -110%; width : 100%; height : 100%; 
    transition : left 500ms, top 500ms;   
    cursor : pointer; 

}

table.MainMenuTable td{

    border  : 0px;
    color : rgb(243, 235, 235);
    font-family : "Tahoma";
    font-size : 12px;
    text-align : center;

}



div.main{
    position : absolute;
    border : 0px solid yellow;
    left : 0px; top : 0px; width : 100%; height : 100%; 
}


/*

    ************************ Menu Pizz****************************


*/


div.PizzaMenu
{
    position : relative;
    border : 2px solid rgb(197, 178, 178);
    left :0.5%; top : 102%; width : 98%;
    z-index : 1;
}

img.PizzaMenu{
    position : absolute;
    left : 0px; top : 0px; width : 100%; height : 100%;
}

span.MenuHeader{
    position : absolute;
    left : 0px; top : 30px; width : 100%;
    text-align : center;
    font-family: 'Berkshire Swash', sans-serif;
    font-size : 38px;
    color : rgb(239, 103, 6);
    text-shadow : 20px 30px 40px rgb(214, 174, 145);
}


table.MenuP{
    position : absolute; 
    left : 5%; top :100px; width : 90%;
    border :0px solid red;
}


td.Name{

    border : 0px solid white;
    width : 50%;
    font-family : "Peralta";
    font-size : 12px;
    color : rgb(239, 103, 6);
    text-align : left;
 
}
td div{
    position : relative;
    border : 0px solid green; 
    left : 0px; top : 0px; width : 100%; height : 12px;
    overflow : hidden;
}

td.Rozmiar{

    /* border-left : 2px solid white; */
    font-family : "Peralta";
    font-size : 10px;
    color : rgb(205, 180, 78);
    text-align : center;
    vertical-align : bottom;
    padding-bottom :0px;
}

td.Cena{

    /* border-left : 2px solid white; */
    font-family : "Peralta";
    font-size : 10px;
    color : rgb(205, 180, 78);
    text-align : center;
    vertical-align : top;
}
td.Cena1{

    border-right : 0px solid white;
    font-family : "Peralta";
    font-size : 10px;
    color : rgb(205, 180, 78);
    text-align : center;
    vertical-align : top;
    padding-top :0px;
}

td.Opis{

    border : 0px solid white;
    font-family: "Peralta";
    font-size : 10px;
    color : rgb(214, 174, 145);
    width : 50%;
    text-align : left;
    font-style : italic;

}

td.Stopka{
    border : 0px solid green; 
    font-family: 'Berkshire Swash', sans-serif;
    font-size : 34px;
    color : rgb(239, 103, 6);
    text-align : center;
}



/*

    ************************ Footer ****************************


*/

footer.footer{

    position : relative;
    left : 0px; top : 95%; width : 100%; height : 250px;
    border-top :4px solid rgb(255, 132, 0);
    background-color : rgb(0, 0, 0);

}


footer.footer img{

    position : absolute;
    top:25px; left : 3%; width : 20%; height : 80px;
}

#Address{
    position : absolute;
    left : 32%; top: 30px; width : 50px; height : 50px;
}

span.Adres_H{
    position : absolute;
    border : 0px solid green; 
    left : 25%; top : 100px; width : 35%; height : 50px;
    font-family: 'Peralta', sans-serif;
    font-size : 14px;
    color : rgb(230, 134, 18);

}


span.Adres{
    position : absolute;
    border : 0px solid red; 
    left : 25%; top :120px; width : 35%; height : 100px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(203, 192, 177);
    
}

a.LinkGoogle{

    position : absolute;
    border : 0px solid red;
    left : 25%; top :200px; width : 43%; height : 50px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(210, 183, 146);
    text-decoration : none;
    transition : color 1500ms;
}


#Tel{
    position : absolute;
    left : 72%; top: 30px; width : 50px; height : 50px;
}

span.Tel_H{
    position : absolute;
    border : 0px solid yellow; 
    left : 65%; top : 100px; width : 35%; height : 50px;
    font-family: 'Peralta', sans-serif;
    font-size : 14px;
    color : rgb(230, 134, 18);

}

a.Tel{

    position : absolute;
    border : 0px solid red; 
    left : 65%; top :130px; width : 35%; height : 30px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(203, 192, 177);
    text-decoration : none;
    transition : color 1500ms;
}

a.Kom{

    position : absolute;
    left : 65%; top :160px; width : 35%; height : 30px;
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    color : rgb(203, 192, 177);
    text-decoration : none;
    transition : color 1500ms;
}
