div.Logo{
    position : absolute; z-index : 0; left : 1%; width : 98%; height : 60%;
}
img.LogoBckg{
    position : relative;
    left : 0px; top : 0px; width : 100%; height : 100%
}

img.LogoImg{
    position : absolute;
    left : 2%; top : 10px; width : 23%; height : 120px;
}

/*

    ************************ Głowne menu wysuwane Przycisk****************************


*/




div.MainMenuButton{

    position : absolute;                                            
    border : 0px solid rgb(227, 220, 220);
    left : 94%; top: 20px; width : 4%; height : 30px;
    cursor : pointer;
}

span.MainMenuButt1{

    position : absolute;
    background-color : rgb(243, 235, 235);
    left : 0%; top: 0px; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt2{

    position : absolute;
    background-color : rgb(243, 241, 235);
    left : 0%; top: 38%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

span.MainMenuButt3{

    position : absolute;
    background-color : rgb(243, 235, 235);
    left : 0%; top: 76%; width : 100%; height : 24%;
    transition-property : background-color;
    transition-duration : 1000ms;

}

/*

    ************************ Głowne menu wysuwane Tabela****************************


*/

div.MainMenu{

    position : absolute;
    border : 0px solid red;
    left : 72%; top : 70px; width : 27%; height : 180px; 
    overflow : hidden;
}


table.MainMenuTable{

    position : absolute;
    background-color : rgb(13, 13, 13); 
    left : 110%; top : -110%; width : 100%; height : 100%; 
    transition : left 500ms, top 500ms;   
    cursor : pointer; 

}

table.MainMenuTable td{

    border  : 0px;
    color : rgb(243, 235, 235);
    font-family : "Tahoma";
    font-size : 16px;
    text-align : center;

}


/*

    ************************ First Text Diner and menu ****************************


*/

div.BodyText1{
    position : relative;
    border : 0px solid red;
    left : 0px; top : 60.5%;  width : 100%; height : 500px;
    background-color : rgb(2, 6, 34); 
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;

}


span.HeaderText1{
    position :absolute;
    left : 25%; top : 30px; width : 50%;
    font-family: 'Paprika', sans-serif;;
    font-size : 30px;
    text-align : center;
    color :rgb(107, 136, 186);
}

span.HeaderText1_2{
    position :absolute;
    border-top : 6px solid rgb(107, 136, 186);
    padding : 10px;
    left : 25%; top : 120px; width : 50%;
    font-family: "BernardoModaContrast";
    font-size : 36px;
    text-align : center; font-style : italic;
    color :rgb(107, 136, 186);
}

span.Text1{
    position :absolute;
    border-bottom : 6px solid rgb(107, 136, 186);
    padding : 10px;
    left : 25%; top : 170px; width : 50%;
    text-align : left;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size : 16px;
    color :rgb(107, 136, 186);
}




/*

    ************************ Menu wysuwane ****************************


*/


div.Menu{
    position : absolute;
    left : 0%; top: 260px; width : 100%;
}



/*

    ************************ Sałatki menu wysuwane****************************

    
*/




div.Salats{
    position : absolute;
    border : 0px solid rgb(241, 9, 9);
    left : 25%; top: 72px; width : 50%;
    border-top : 6px solid rgb(167, 160, 160);
    border-radius : 4px;
    overflow : hidden;
}


span.Salats_Button{
    position : absolute;
    text-align : center;
    vertical-align : text-bottom;
    color : rgb(242, 237, 237);
    font-family :'Times New Roman', Times, serif;
    Font-size : 16px;
    left : 1%; top: 40px; width : 15%;
    transition-property : color;
    transition-duration : 1000ms;
   /* padding-top : 10px; */
    cursor : pointer;
}

#Salats_Desc{  
  /*  background-color : rgb(71, 71, 71); */
 /*   border : 4px double rgb(174, 151, 151);*/
    position : absolute;
    left : 0px; top: -110%; width : 100%;
    transition-property : top;
    transition-duration : 500ms;
    z-index : 1;
}



/*

    ************************ Napoje Zimne menu wysuwane****************************


*/




div.ColdDrink{
    position : absolute;
    border : 0px solid black;
    left : 25%; top: 72px; width : 50%;
    border-top : 6px solid rgb(167, 160, 160);
    border-radius : 4px;
    overflow : hidden;
}


span.ColdDrink_Button{
    position : absolute;
    color : rgb(242, 237, 237);
    text-align : center;
    vertical-align : text-bottom;
    font-family :'Times New Roman', Times, serif;
    Font-size : 16px;
    left : 18%; top: 40px; width : 22%;
    transition-property : color;
    transition-duration : 1000ms;
  /*  padding-top : 10px; */
    cursor : pointer;
}

#ColdDrink_Desc{  
/*    background-color : rgb(71, 71, 71);
    border : 4px double rgb(174, 151, 151); */
    position : absolute;
    left : 0px; top: -110%; width : 100%;
    transition-property : top;
    transition-duration : 500ms;
    z-index : 1;
}



/*

    ************************ Napoje Gorące menu wysuwane****************************


*/




div.HotDrink{
    position : absolute;
    border : 0px solid red;
    left : 25%; top: 72px; width : 50%;
    border-top : 6px solid rgb(167, 160, 160);
    border-radius : 4px;
    overflow : hidden;
}


span.HotDrink_Button{
    position : absolute;
    text-align : center;
    vertical-align : text-bottom;
    color : rgb(242, 237, 237);
    font-family :'Times New Roman', Times, serif;
    Font-size : 16px;
    left : 42%; top: 40px; width : 25%;
    transition-property : color;
    transition-duration : 1000ms;
    cursor : pointer;
}

#HotDrink_Desc{  
    /*
    background-color : rgb(71, 71, 71);
    border : 4px double rgb(174, 151, 151);
    */
    position : absolute;
    left : 0px; top: -110%; width : 100%;
    transition-property : top;
    transition-duration : 500ms;
    z-index : 1;
}




/*

    ************************ Zestawy Obiadowe menu wysuwane****************************


*/




div.Diner{
    position : absolute;
    border : 0px solid red;
    left : 25%; top: 72px; width : 50%;
    border-top : 6px solid rgb(167, 160, 160);
    border-radius : 4px;
    overflow : hidden;
}


span.Diner_Button{
    position : absolute;
    text-align : center;
    vertical-align : text-bottom;
    color : rgb(242, 237, 237);
    font-family :'Times New Roman', Times, serif;
    Font-size : 16px;
    left : 69%; top: 40px; width : 30%;
    transition-property : color;
    transition-duration : 1000ms;
    cursor : pointer;
}

#Diner_Desc{  
  /*  
    background-color : rgb(71, 71, 71);
    border : 4px double rgb(174, 151, 151);
    */
    position : absolute;
    left : 0px; top: -110%; width : 100%;
    transition-property : top;
    transition-duration : 500ms;
    z-index : 1;
}



/*


    ************************Menu wysuwne definicja tabel*****************************


*/




#MButton_ItemL{
 /*   border : 0px solid rgb(106, 90, 90); */
/*  background-color : rgb(106, 90, 90); */
    width : 80%; height : 26px;
    text-align : left;
    color : rgb(242, 237, 237);
    font-family :"Arial";
    font-size : 16px;
    padding : 7px;
}
#MButton_ItemR{
 /*   border : 0px solid rgb(106, 90, 90); */
/*  background-color : rgb(106, 90, 90); */
    width : 20%; height : 26px;
    text-align : right;
    color : rgb(242, 237, 237);
    font-family :"Arial";
    font-size : 16px;
    padding : 7px;
}

#MButton_ItemC{
    border : 0px solid rgb(6, 232, 58);
 /*   background-color : rgb(71, 71, 71);*/
    width : 80%; height : 26px;
    text-align : left;
    color : rgb(242, 237, 237);
    font-family : "Arial";
    font-size : 16px;
    padding : 7px;
}